<div class="container-fluid" style="background-color: #003366; min-height: 360px;
        margin-top: 80px;">
        <div class="container" style="padding-top: 5.5%;">
            <div class="row" style="font-family: raleway-semibold; font-size: 30px; color: #fff">
                CONTACT US
            </div>
            <div class="row" style="font-family: raleway; font-size: 16px; color: #fff; padding-top: 3%;">
                <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6 NoGutter">
                    Confederation of Indian Industry<br />
                    The Mantosh Sondhi Centre<br />
                    23, Industrial Area, Lodhi Road, New Delhi - 110 003
                </div>
                <div class="col-xs-12 col-md-3 col-sm-3 col-lg-3" style="padding-top: 2%">
                    <div class="col-xs-3 col-md-3">
                        <img src="../assets/image/Phone-no.png" />
                    </div>
                    <div class="col-xs-9 col-md-9">
                        +91-1145771000
                    </div>
                </div>
                <div class="col-xs-12 col-md-3 col-sm-3 col-lg-3" style="padding-top: 2%">
                    <div class="col-xs-3 col-md-3">
                        <img src="../assets/image/Email.png" />
                    </div>
                    <div class="col-xs-9 col-md-9">
                        info@cii.in
                    </div>
                </div>
            </div>
            <div class="row" style="font-family: raleway; font-size: 16px; color: #fff; padding-top: 3%;display:none;">
                <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6 NoGutter">
                    Membership Helpline: 00-91-124-4592966 / 00-91-9910446244<br />
                    CII Helpline Tollfree No: 1800-103-1244<br />
                </div>
                <div class="col-xs-12 col-md-3 col-sm-3 col-lg-3 text-right" style="padding-top: 1%">
                    <div class="col-xs-3 col-md-3">
                        <img src="../assets/image/fb.png" />
                    </div>
                    <div class="col-xs-9 col-md-9">
                        facebook.com/followcii
                    </div>
                </div>
                <div class="col-xs-12 col-md-3 col-sm-3 col-lg-3  text-right" style="padding-top: 1%">
                    <div class="col-xs-3 col-md-3">
                        <img src="../assets/image/Twitter.png" />
                    </div>
                    <div class="col-xs-9 col-md-9">
                        twitter.com/followcii
                    </div>
                </div>
            </div>
            <!--  <img src="../Image/footer.png" class="img-responsive" />-->
        </div>
    </div>